<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3942/3942076.png">
    <title>Add attraction</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<h1>Add attraction</h1>
<form action="/attractions/save" method="post"  th:object="${attractions}">
    <ul>
        <li>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name"/>
        </li>

        <li>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description"/>
        </li>
    </ul>

    <fieldset>
        <legend>City</legend>
        <p>
            <select id="city" name="city">
                <option th:each="city : ${city}" th:value="${city}" th:text="${city}"></option>
            </select><br>
        </p>
    </fieldset>

    <fieldset>
        <label>Tags:</label>
        <div th:each="tag : ${tags}">
            <input type="checkbox" th:field="*{tagList}" th:value="${tag}">
            <label th:text="${tag}"></label>
        </div>
    </fieldset>


    <button type="submit">Add attraction</button>
    <button><a href="http://localhost:8080/attractions" type="submit">Regret</a></button>
</form>


</body>
</html>