<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tourist Attractions</title>
    <link rel="stylesheet" type="text/css" href="/attractions.css">
</head>

<body>
<h1>Turistattraktioner</h1>
<p th:text="${attractions.size()}"></p>

<table>

    <tr>
        <th>Name:</th>
        <th>Description:</th>
    </tr>

    <tr th:each="attraction : ${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
    </tr>


</table>
</body>

</html>
