<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3942/3942076.png">
    <title>Tourist Attractions</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>
<h1>Turistattraktioner</h1>
<p th:text="${attractions.size()}"></p>

<table>
    <thead>
        <tr>
            <th>Name:</th>
            <th>Description:</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="attraction : ${attractions}">
            <td th:text="${attraction.name}"></td>
            <td th:text="${attraction.description}"></td>
            <td>
                <a th:href="@{'attractions/' + ${attraction.name} + '/tags'}">
                    <input type="button" value="Tags">
                </a>
            </td>
            <td>
                <a>
                <form action="/attractions/delete" method="get">
                    <button type="submit">Delete</button>
                </form>
                </a>
            </td>
            <td>
                <a>
                <form action="/attractions/edit" method="get">
                    <button type="submit">Edit</button>
                </form>
                </a>
            </td>
        </tr>
    </tbody>

</table>

<form action="/attractions/add" method="get">
    <button type="submit">Tilføj attraktion</button>
</form>


</body>

</html>
