<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3942/3942076.png">
    <title>Tags for attractions</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>

<body>

<h1>Tags for den valgte attraction</h1>

<table>
    <tr>
        <th>Tags:</th>
    </tr>

    <tr th:each="tag : ${tagList}">
        <td th:text="${tag}"></td>
    </tr>
</table>

<button>
    <a href="http://localhost:8080/attractions" type="submit">Tilbage</a>
</button>

</body>

</html>
