<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/3942/3942076.png">
    <title>Add attraction</title>
    <link th:href="@{/main.css}" rel="stylesheet">
</head>
<body>

<h1>Edit attraction</h1>
<form action="/attractions/update" method="post" th:object="${attraction}">
    <ul>
        <li>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:value="${attraction.name}" readonly>
        </li>
        <li>
            <label for="description">Description:</label>
            <textarea type="text" id="description" name="description" th:value="${attraction.description}"/></textarea>
        </li>
    </ul>


    <fieldset>
        <legend>City</legend>
        <p>
            <select id="city" name="city">
                <option th:value="${city}"
                        th:each="city : ${city}"
                        th:text="${city}" ></option>
            </select><br>
        </p>
    </fieldset>

    <!-- -->

    <!-- Metoden neden under gider ikke at tage imod -> th:field="${tagList}" -->


    <fieldset>
        <label>Tags:</label>
        <div th:each="tag : ${tags}">
            <input type="checkbox"
                   th:value="${tag}"
                   th:checked="${attraction.tagList.contains(tag)}"/>
            <label th:for="${'tag_' + tag}" th:text="${tag}"></label><br>
        </div>
    </fieldset>



    <button type="submit">Update attraction</button>
    <button><a href="http://localhost:8080/attractions" type="submit">Regret</a></button>
</form>

</body>
</html>
